.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E2343;
  width: 280px;
  height: 280px;
  box-shadow: 10px 10px 0px #FFF;
}

.card-project.-blue {
  background-color: #5965E0;
}
.card-project.-grey {
  background-color: #2f3640;
}